.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  position: relative;
  left: -5px;
  top: -2px;
  content: url("../images/icon/menufleche.svg");
  transition: 0.35s ease;
  transform-origin: 0.5em 50%;
  -webkit-transition: transform 0.35s ease;
  -moz-transition: transform 0.35s ease;
  -ms-transition: transform 0.35s ease;
  -o-transition: transform 0.35s ease;
}
.check-toggle {
  content: url("../images/icon/collapsecheck.svg");
}

.check-empty {
  content: url("../images/icon/emptycheck.svg");
}

.check-checked {
  content: url("../images/icon/checkcheck.svg");
}
