

@media (max-width: 999px) {
    .hide-l1{
        display: none;
    }

    .hide-l2{
        display: inline-block
    }

    .inpttop{
        width: 80px;
    }
  }

  /* @media (max-width: 985px) {
    .hide-l1{
        display: none;
    }

    .hide-l2{
        display: inline-block
    }
  } */

  @media (min-width: 1000px) {
    .hide-l2{
        display: none;
    }


  }

  .flex-containers {
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.5);
}

.modal-validate{
    width: 300px;
}

.delete-btn{
    color: red !important;
}

.btn-val{
    background-color: white;
}