body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  /* height: 100vh; */
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 9px 0px 17px -12px rgb(0 0 0 / 39%);
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle,
.toogle-item,
.btn-toggle-men {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  /* background: rgba(177, 219, 252, 0.183); */
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("../images/icon/menufleche.svg");
  transition: 0.35s ease;
  transform-origin: 0.5em 50%;
  -webkit-transition: transform 0.35s ease;
  -moz-transition: transform 0.35s ease;
  -ms-transition: transform 0.35s ease;
  -o-transition: transform 0.35s ease;
}
/* .transform-true{
  width: 1.25em;
  line-height: 0;
  padding: 10px;
  background: red;
  display: block;
  transition:  .35s ease;
  transform-origin: .5em 50%;
  rotate: 45deg;


} */
.btn-toggle-men::before {
  width: 1.25em;
  line-height: 0;
  content: none !important;
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.toogle-item::before {
  width: 1.25em;
  line-height: 0;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.table_wrapper {
  overflow-x: visible;
  white-space: nowrap;
}

.checker {
  position: absolute;
  top: 13px;
  right: 10px;
}

.check-toggle {
  content: url("../images/icon/collapsecheck.svg");
}

.check-empty {
  content: url("../images/icon/emptycheck.svg");
}

.check-checked {
  content: url("../images/icon/checkcheck.svg");
}

.lst.check-checked,
.checkall {
  height: 19px;
  width: 19px;
}

.lst,
.checkall {
  cursor: pointer;
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
  color: #595959;
}

.nivo1 {
  background-color: #ffffff !important;
}

.nivo1:hover,
.nivo1:focus {
  box-shadow: inset 2px 2px 50px rgba(83, 175, 248, 0.2) !important;
}

.btn-toggle-nav .nivo2:hover,
.btn-toggle-nav .nivo2:focus {
  /* background-color: rgba(177, 219, 252, 0.207); */
  background: rgba(177, 219, 252, 0.1);
}

.btn-toggle-nav li.nivo2 {
  background: rgba(177, 219, 252, 0.1);
}

.btn-toggle-nav li {
  /* background-color: rgba(177, 219, 252, 0.337); */
  border-top: solid rgba(0, 0, 0, 0.15);
}

.btn-toggle-nav a:focus {
  color: #595959;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}

.nav-link {
  padding: 12px 24px !important;
}

.nav-link:hover {
  color: #595959;
}

.nav-item {
  position: relative;
}

.tognbr {
  font-size: 12px;
  line-height: 18px;
}

.btn-light {
  border: 1px solid #073b60;
  color: #073b60;
  border-radius: 5px;

  transition-duration: 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-light:hover {
  border: 1px solid #073b60;
  background-color: #e6edf2;
}

.clbl {
  color: #075796 !important;
}

.filter-close {
  cursor: pointer;
  position: absolute;
  /* top: 32px; */
  left: 0px;
  z-index: 100;
  /* bottom: 2px; */
}

.menu-close {
  position: relative;
  bottom: 2px;
}

.menu-list {
  background-color: white;
}

.filter-list,
.content-sort,
.content-search,
.cont-det-obsv {
  overflow: scroll;
}

.filter-list {
  z-index: 1;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.nivo3 {
  padding-left: 40px !important;
  background: rgba(177, 219, 252, 0.1) !important;
}

.nivo3:hover,
.nivo3:focus {
  box-shadow: inset 2px 2px 50px rgba(83, 175, 248, 0.2) !important;
}
