{# templates/emails/restePasword.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hello MarketplaceController!{% endblock %}

{% block body %}

<p> 
    Hi there! 
    <br><br>
    We are pleased to announce the launch of the new Siren software.  
    <br><br>
    Our international development team has been working hard over the last year and a half 
    <br><br>to upgrade the entire Siren platform with better performance, new functionality and a
    <br><br>more modern user interface. 
</p>
<img src="{{ asset('img/Siren.jpg') }}" alt="Siren!"/>

<p>
 The concept is very similar to the old Siren website with an interface that allows you to <br><br>
 manage your project, members and field observations. <br><br>

<strong> What you need to know: </strong> <br><br>

<strong> Starting June 7th, 2023</strong> , ALL users must use the new <a href="https://www.sirenammco.org/">Siren website</a> and the new Siren <br> mobile application. <br><br>

The old Siren software will be discontinued on XXX and will no longer be accessible <br> after that date. <br><br>

<strong> How to migrate and activate your account on the new Siren platform: </strong> <br><br>

To get started, you will need to reactivate your account on the new Siren website. To do <br> so, please: <br>
</p>

<p> 

  1. Open a browser on your computer, go to: <br> https://sirenammco.org/forgottenPassword <br>

  2. Enter the email address associated with your account on the previous Siren <br>
  site. You will be sent a validation code to create a new password for the new <br> 
  site. Alternatively, you can click here if you do not remember your email 
  <br>address or want to set up a new account. <br>

  3. Check your inbox for the validation code. Click on the link provided and enter <br>
     the validation code on the new site. <br>

  4. Enter a new password. Once you reset your password, your account is <br> activated. <br>

  5. Verify by logging in to your account with your email and new password: <br>
     https://www.sirenammco.org/login <br>

  6. Remember to bookmark the URL of the new Siren website so you can use it <br>
  next time! 
</p>

<p>
    Inform other members of your project. If you are a project administrator, tell your field <br> observers to reactive their accounts by following the steps above and also to download <br> the new Siren mobile app for iOS or Android from the Google Play and Apple App store. Observations reported from the old mobile app will not be uploaded to the new site. 
</p>

 <div>
       <img src="{{ asset('img/appStore.png') }}" alt="Siren!"/>
              <img src="{{ asset('img/playstore.png') }}" alt="Siren!"/>
   </div>

<p> 
  Please help us transfer efficiently to the new app and new site by taking action immediately when you receive this email. <br><br>

If you have any questions, feel free to reach out to one of our staff members. <br><br>

We hope you’ll enjoy the new version! <br><br>

 <h2> The Siren team. </h2>
</p>   
   <div>
       <img src="{{ asset('img/logoAmmco.png') }}" alt="Siren!"/>
   </div>
   
   {% endblock %}

 