<img src="https://res.cloudinary.com/df9x0pvkr/image/upload/v1688464627/Siren_Email_banner_size__Desktop_u7mpfo.png" alt="bannière" style="height:75px;width:100%"> <br>
 
 <p> 
 
 You requested a password reset link for your Siren account. Please click on the link and enter the validation <br> code: <br><br>

<strong>{{ code }}</strong> <br><br>

 <a href="https://testsirenammco.org/reset_password">Click here to enter the code and reset your password</a> <br><br>

Please note this link will expire in 3 hours and can only be used once.<br><br>

If you did not request this password reset link you may safely ignore this message; your Siren account password <br> will not change. <br><br>

If you need assistance please reach out to the support team.<br><br>

Have a great day!
<p>  

<h2> <strong>The Siren Team </strong> </h2> 