<img src="https://res.cloudinary.com/df9x0pvkr/image/upload/v1688464627/Siren_Email_banner_size__Desktop_u7mpfo.png" alt="bannière" style="height:75px;width:100%">
  <br>
<p>

Hello,<br><br>

Please  use this code : <strong>{{ code }} </strong> to verify your email and activate your account. <br><br>

This code expire in 2 days and can only be used once.<br><br>

If you did not request this verification email you may safely ignore this message.<br><br>

I you need assistance please reach out to the Siren support team.<br><br>

Have a great day!
 
</p>
<h2> <strong>The Siren Team </strong> </h2> 